/* foglio di stile */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width:100%;
  height: 100px;
  background-color: yellow;
}

.section-main{
  width: 100%;
  padding:5%;
  /* background-color: #888cff; */
}

/* Clearfix */
.section-main::after{
  content: "";
  display: table;
  clear: both;
}


/* Stile di Base per tutte le Colonne */
.widget{
  float: left;
  background-color: #5a95bd;
}


/* Stile Colonna WIdget Centrale */
.middle{
  width: 40%;
  margin: 0px 5%;
}


.left, .right{
  width:25%;
}


/* Stile contenuti interni alla Colonna WIdget Destra */
div.widget.right >*{
  background-color: #a4faf9;
  margin-bottom: 2%;
}


footer{
  width:100%;
  height: 100px;
  background-color: orange;
  }
